  .action{
    cursor: pointer;
    border: none;
    float: none;
    top: 50%;
    left: 50%;
  }
  .cta {
    margin-right: 5px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid rgb(131, 35, 35);
    background-color: rgb(200, 67, 67);
    color: #fff;
    transition: width 0.7s;
  }

  .cta:hover {
    cursor: pointer;
    width: 100px;
    transition: width 0.7s;
  }
  
  .cta div {
    margin-left: -3px;
    height: 24px;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s
  }
  
  .cta:hover div {
    transition: opacity 0.5s
  }
  
  .cta .button-text {
    align-items: center;
    font-size: 0%;
    font-weight: bold;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    width: 100px;
    left: 0;
   }
  
  .cta:hover .button-text {
    font-size: 0.7rem;
    opacity: 1;
    transition: opacity 0.5s font-size 0.4s 
  }
