.App {
  text-align: center;
}

.boxs{
  padding: 10px;
  /* width: fit-content; */
  border-style:unset;
  justify-content: center;
  background-color:hsl(193, 100%, 29%);;
  border-color: hsl(193, 93%, 22%);;
  margin: 10px;
  color: aliceblue;
  box-shadow: rgba(240, 235, 235, 0.55) 0px 4px 12px;
  border-radius:10px;
}

.App-logo {
  position: relative;
  height: 200px;
  pointer-events: none;
}
.circle{
  margin-bottom: -326px;
  margin-top: 30px;
  border-radius:50%;
  border-style:solid;
  padding: 61px;
  border-color: hsl(193, 95%, 68%);
  border-width: 5px;
}
.form{
  margin-bottom: 80px;
  /* align-content: ; */
  position: relative;
  border-radius: 4px;
  padding: 20px;
  border-style: solid;
  border-color: white;
  /* position: relative; */
}
.name{
  margin-top: -10;
  margin-bottom: 3px;
}
.imagesb{
  /* height: 100px; */
  margin-top: -90px;
}
@media (prefers-reduced-motion: no-preference) {
  #co {
    animation: App-logo-spin infinite 9s linear;
    margin-right: -15%;

  }
  #coc{
    position: relative;
    width: 200px;
    height: 200px;;
    animation: App-logo-spin infinite 9s linear;

  }
  #rev {
    margin-left: -14%;
    animation: App-logo-spin infinite 9s linear reverse;
  }
  #cou {
    animation: App-logo-spin infinite 9s linear reverse;
    margin-right: -15%;

  }
  #revu {
    margin-left: -14%;
    animation: App-logo-spin infinite 9s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.radio{
  size: 80px;
  margin: 0%;
  padding: 0%;
  align-content: start;
}
.label{
  margin-left: 2px;
  margin-right: 5px;
}
.butt{
font-size: 18px;
color: cornflowerblue;
background-color: black;
padding: 10px;
margin: 2px;
margin-right: 10px;
border-radius: 10px;
border-color: aliceblue;
border-style: ridge;
text-shadow: #61dafb;
text-decoration: solid;
transition: ease-in 100ms;
}
.butt:hover{
cursor: pointer;
font-size: 20px;
}
.buttons{
  align-items:center;
  flex:content;
  margin: 10px;
  padding: 2px;
  
}
#reset{
  color:rgb(255, 0, 0);
  background-color: rgb(120, 0, 0);
}
#reset:hover{
color: white;  
}
.nameGrid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}