.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
.App-logo-r {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
  .App-logo-r {
    animation: App-logo-spin infinite 1s linear reverse;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.butt{
font-size: 15px;
color: cornflowerblue;
background-color: black;
padding: 10px;
margin: 2px;
border-radius: 10px;
transition: ease-in 100ms;
}
.butt:hover{
cursor: pointer;
font-size: 20px;
color:aqua;  
}
.buttons{
  align-items:center;
  flex:content;
  margin: 10px;
  padding: 2px;
  
}
#reset{
  color:rgb(255, 0, 0);
  background-color: rgb(120, 0, 0);
}
#reset:hover{
color: white;  
}