@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

*{
  font-family: cursive;
}

.App {
  text-align: center;
}
:root {
	font-family: "Montserrat", "Arial", sans-serif;
  --size-bezel: .5rem;
  --size-radius: 4px;
	--color: #fff;
	--color-accent-1: hsl(50, 100%, 79%);
	--color-accent-2: hsl(340, 100%, 39%);
}

.number{
  font-family: 'Calligraffitti';
  justify-content: end;
  font-weight: 700;
  font-size: 1.9rem;
  margin: 12px;
  letter-spacing: 0.02em;
  color: #F9f1cc;
  margin-top: 25px;
}

.boxs{
  padding: 10px;
  flex: 1;
  border-style:unset;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
		-45deg,
		var(--color-accent-1),
		var(--color-accent-2)
	);
  border-color: hsl(193, 93%, 22%);
  margin: 10px;
  margin-bottom: 1px;
  color: aliceblue;
  box-shadow: rgba(240, 235, 235, 100) 3px 3px 5px;
  border-radius:10px;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}
.circle{
  width: 75px;
  height: 75px;
  border-radius:50%;
  border-style:solid;
  margin-right: -77px;
  border-color: hsl(193, 95%, 68%);
  border-width: 1px;
}
.form{
  margin-bottom: 80px;
  position: relative;
  border-radius: 4px;
  padding: 20px;
  border-style: solid;
  border-color: white;
}
.name{
  margin-top: -10;
  margin-bottom: 3px;
}
.notesHeading{
  margin-top: 10px;
  font-size: 3rem;
  font-family: 'Calligraffitti';
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.02em;
  color: #F9f1cc;
  text-shadow:
    1px 1px 0px #EF5097, 
    3px 3px 0px #6868AC, 
    5px 5px 0px #90B1E0;
  
}

.heading{
  margin-top: 20px;
  display: flex;
  align-content: center;
}

.pattern{
  margin-left: -32px;
}
.imagesb{
  z-index: 1;
  width:fit-content;
}
.images{
  z-index: 1;
  margin-bottom: -30px;
}
@media (prefers-reduced-motion: no-preference) {
  #co {
    animation: App-logo-spin infinite 9s linear;
    margin-right: -19%;
    height: 50px;

  }
  #coc{
    position: relative;
    width: 200px;
    height: 25px;
    animation: App-logo-spin infinite 9s linear;
  }
  #rev {
    margin-left: -14%;
    height: 50px;
    animation: App-logo-spin infinite 9s linear reverse;
  }
  #cou {
    animation: App-logo-spin infinite 9s linear reverse;
    margin-right: -19%;
    height: 50px;
  }
  #revu {
    margin-left: -14%;
    height: 50px;
    animation: App-logo-spin infinite 9s linear;
  }
}

body{
  background-color: #282c34;
}
.App-header {
  width:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.radio{
  size: 80px;
  margin: 0%;
  padding: 0%;
  align-content: start;
}
.label{
  margin-left: 2px;
  margin-right: 5px;
}

.butt:hover{
cursor: pointer;
font-size: 20px;
}
.buttons{
  align-items:center;
  flex:content;
  margin: 10px;
  padding: 2px;
  
}
.task-input{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 19px 16px;
  transition: all 0.1s ease 0s;
}
input[type="text"]{
  border: 3px solid rgb(103, 69, 130);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 31px;
  margin-right: 19px;
  border-width: thick;
}
input[type="text"]::placeholder{
  text-align: center;
}
#reset{
  color:rgb(255, 0, 0);
  background-color: rgb(120, 0, 0);
}
#reset:hover{
color: #ffffff;  
}
.task{
  text-align: start;
  word-wrap:break-word;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  justify-content: start;
}
.button{
  font-weight: bold;
  cursor: pointer;
  border-radius: 10%;
  margin-right: 2px;
  border-color: beige;
  transition:background-color 0.5 ease  ;
}

.nameGrid{
  width: 65%;
  height: 340px;
}

.circle-loader {
	fill: transparent;
  margin-bottom: -13px;
	stroke: #eee;
	stroke-width: 5;
}

.paging{
  width: fit-content;
  display: flex;
  align-items: center;
}

.Page1{
    color: white;
    border-radius: 14px;
    font-size: 3rem;
    padding: 0px;
    border: none;
    background: transparent;
}
.Page1:hover{
  cursor: pointer;
}

.box_buttons{
  display: flex;
  align-items: start;
  margin-left: 10px;
  flex-direction: row-reverse;
}

.boxButton{
  width: 100px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  font-size: 0.9rem;
  color: #ffffff;
  padding: 4px;
  border-radius: 7px;
 background-color: rgb(158, 72, 52);
}

#deleteButton:hover{
  color: #ffffff;
  cursor: pointer;
background-color: rgb(212, 20, 20);
}

#editButton{
  background-color: rgb(58, 142, 52);
}

#editButton:hover{
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(35, 123, 28);
}

.checkDiv{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.redirect{
  filter: grayscale(1);
}

.redirect:hover{
  filter: grayscale(0);
}

.calbutt{
  height: fit-content;
  background-color: ivory;
}

.calender{
  border-radius: 7px;
  padding: 4px;
}