body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notFound{
  font-size: 7em;
    color: wheat;
    font-weight: bold;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 6em;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.butt{
  font-size: 18px;
  color: cornflowerblue;
  background-color: black;
  padding: 10px;
  margin: 2px;
  margin-right: 10px;
  border-radius: 10px;
  border-color: aliceblue;
  border-style: ridge;
  text-shadow: #61dafb;
  text-decoration: solid;
  transition: ease-in 100ms;
  }