body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notFound {
  font-size: 7em;
  color: wheat;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 6em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.butt {
  font-size: 18px;
  color: cornflowerblue;
  background-color: black;
  padding: 10px;
  margin: 2px;
  margin-right: 10px;
  border-radius: 10px;
  border-color: aliceblue;
  border-style: ridge;
  text-shadow: #61dafb;
  transition: ease-in 100ms;
}

.border5px .radius {
  border-radius: 8px;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

a:visited {
  color: blueviolet;
}

button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}

.center {
  text-align: center;
}
.nooverflow {
  overflow: hidden;
}
.start {
  align-items: start;
  justify-content: start;
}
.padding {
  padding: 15px;
}

.validationAlert {
  color: red;
  font-family: sans-serif;
  margin-left: 4px;
}

.hide{
  display: none;
}